/* styles.css */

.neonText {
  color: white;
 
  text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #fff,
      0 0 82px #fff,
      0 0 92px #fff,
      0 0 102px #fff,
      0 0 151px #fff;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f4f8;
    color: #333;
    text-align: center;
}

header {
    position: relative;
    background-image: url('ba.jpg'); /* Replace with your image URL or file path */
    background-size: cover; /* Ensure the image covers the entire header */
    background-position: center; /* Position the image in the center */
    color: white;
    padding: 100px 20px;
    border-bottom: 5px solid ##2F4F4F;
    text-align: text-bottom;
    z-index: 1;
    overflow: hidden;
}

header h1 {
    font-size: 3em;
    margin: 0;
}

header p {
    font-size: 1.2em;
}

h2 {
    font-size: 2em;
    color: #2d6a4f;
    margin-bottom: 20px;
}

section {
    padding: 40px 20px;
}

#countdown {
    margin-top: 30px;
}

#countdown-timer {
    font-size: 1.8em;
    font-weight: bold;
    color: #e63946;
}

footer {
    background-color: #2d6a4f;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
